body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#classManageContainer{
  box-sizing: border-box;
  width: 1225px;
  margin: 0 auto;
}
.classManageHeader{
  height: 60px;
  line-height: 60px;
  position: relative;
  background-color: #f9fafc;
}
/* 圆圈加载
#circle{
  background-color:rgba(0,0,0,0);
  border:5px solid rgba(247, 14, 42, 1);
  opacity:.9;
  border-right:5px solid rgba(0,0,0,0);
  border-left:5px solid rgba(0,0,0,0);
  border-radius:50px;
  box-shadow:0 0 35px #808080;
  width:80px;
  height:80px;
  margin:0 auto;
  position:fixed;
  left:7px;
  bottom:50px;
  -moz-animation:spinPulse 20s infinite linear;
  -webkit-animation:spinPulse 20s infinite linear;
  -o-animation:spinPulse 20s infinite linear;
  -ms-animation:spinPulse 20s infinite linear;
  }
#circle1{background-color:rgba(0,0,0,0);border:6px solid rgba(31, 62, 230, 0.9);opacity:.9;border-left:6px solid rgba(0,0,0,0);border-right:6px solid rgba(0,0,0,0);border-radius:50px;box-shadow:0 0 15px #202020;width:60px;height:60px;margin:0 auto;position:fixed;left:15px;bottom:59px;
  -moz-animation:spinoffPulse 20s infinite linear;
  -webkit-animation:spinoffPulse 20s infinite linear;
  -o-animation:spinoffPulse 20s infinite linear;
  -ms-animation:spinoffPulse 20s infinite linear;}
#circletext{font-weight: bold;color: #808080;text-align: center; font-size: 12px; width:60px;height:30px;line-height:15px;margin:0 auto;position:fixed;left:20px;bottom:77px;}

@-moz-keyframes spinPulse{0%{-moz-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #505050;}30%{-moz-transform:rotate(120deg);opacity:1;}100%{-moz-transform:rotate(-320deg);opacity:0;}}
@-moz-keyframes spinoffPulse{0%{-moz-transform:rotate(0deg);}100%{-moz-transform:rotate(360deg);}}
@-webkit-keyframes spinPulse{0%{-webkit-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #505050;}30%{-webkit-transform:rotate(120deg);opacity:1;}100%{-webkit-transform:rotate(-320deg);opacity:0;}}
@-webkit-keyframes spinoffPulse{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}
@-o-keyframes spinPulse{0%{-o-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #505050;}30%{-o-transform:rotate(120deg);opacity:1;}100%{-o-transform:rotate(-320deg);opacity:0;}}
@-o-keyframes spinoffPulse{0%{-o-transform:rotate(0deg);}100%{-o-transform:rotate(360deg);}}
@-ms-keyframes spinPulse{0%{-ms-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #505050;}30%{-ms-transform:rotate(120deg);opacity:1;}100%{-ms-transform:rotate(-320deg);opacity:0;}}
@-ms-keyframes spinoffPulse{0%{-ms-transform:rotate(0deg);}100%{-ms-transform:rotate(360deg);}} */